<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task 4</title>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>

	<div class="main-container">
		<ol>
			<li type="I" value="49">HTML</li>
			<li type="I">CSS</li>
			<li type="I">JavaScript</li>
		</ol>

		<table>
			<tr>
				<td width="50" bgcolor="red" rowspan="2"></td>
				<td width="50" bgcolor="orange" rowspan="2"></td>
				<td height="35" width="50" bgcolor="red"></td>
			</tr>
			<tr>
				<td height="35" width="50" bgcolor="orange"></td>
			</tr>
			<tr>
				<td height="35" width="50" bgcolor="red" colspan="2"></td>
				<td width="50" bgcolor="red"></td>
			</tr>
		</table>

		<br>

		<li><input type="checkbox">HTML</li>
		<li><input type="checkbox">CSS</li>
		<li><input type="checkbox">JavaScript</li>

		<br>

		<p>Укажите URL:<br>
		<input type="text"><input type="submit">
		<br>
		<input type="reset"></p>
	</div>
</body>
</html>